@CHARSET "UTF-8";
.undis{display: none;}
.dis{display: block;}
.noShowBtn{border-radius: 2px;color:#fff;font-size: 18px;height: 32px;line-height: 32px;display: inline-block;text-align: center;border:none;cursor: pointer;}

.redBtn{ background: #ce0000;}
.redBtn:hover{ background: #da1e1e;color: #fff;}

.cf{*zoom:1}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}
	/*修改头像页面样式开始*/
 .atareditorBox{padding: 0px;min-height: 468px;}
 .atareditor{padding:30px 0px;}
 .atareditor dt.ml10{margin-left:64px;}
 .atareditor dd{padding: 20px 64px;clear:both; overflow: hidden; text-align: left;}
 .atareditor dd p{font-size: 12px;margin-bottom:10px;}
 .atareditor dt a{display:block;float:left;width:150px;height:40px;color:#ce0000;background:#ffffff;border:1px solid #ce0000;text-align:center;cursor:pointer;font-size: 18px;line-height:40px;}
 .atareditor dt a em{display:block;float:left;background: url("../TiZiavatar/icon_list.png") no-repeat left top;width:26px; height:35px;margin-left: 20px;}
 .atareditor dt a span{margin-right:20px;}
 .atareditor dt a.localUpload{border-top-left-radius:5px;border-bottom-left-radius:5px;}
 .atareditor dt a.localUpload em{background-position:-320px 7px;}
 .atareditor dt a.videoUpload{border-top-right-radius:5px;border-bottom-right-radius:5px;}
 .atareditor dt a.videoUpload em{background-position:-150px 7px;}
 .atareditor .button_upload,.atareditor .button_cancel,.atareditor .button_shutter{width: 130px;height: 40px;line-height: 40px;}
 .atareditor .button_save{width:304px;height: 40px;line-height: 40px;font-size: 18px;}
 .atareditor dt.current a{background:#ce0000;color:#fff;}
 .atareditor dt.current a.localUpload em{background-position:0px 7px;}
 .atareditor dt.current a.videoUpload em{background-position:-470px 7px;}
/*修改头像页面样式结束*/

