<!-- 导航 -->
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">管理中心</a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/user">用户</a></li>
				<li><a href="/cate">分类</a></li>
				<li><a href="/auth">权限</a></li>
				<li><a href="/system">系统</a></li>
				<li><a href="/picture">图片</a></li>
				<li><a href="/avatar">头像</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://www.gitci.com" target="_black">网站</a></li>
				<li><a href="/login/logout">注销</a></li>
			</ul>
		</div>
	</div>
</nav>