
<ol class="breadcrumb">
	<li><a href="/">管理中心</a></li>
	<li><a href="/course/course_list">用户</a></li>
	<span class="pull-right" style="margin-top: -7px;"> <a href="/course/course_add"><button
				type="button" class="btn btn-success">添加</button></a></span>
</ol>



<!--数据查询-->
<form class="form-horizontal" role="form" action="/user/index">
	<div class="row">
		<div class="col-xs-2">
			<input type="text" class="form-control" placeholder="输入邮箱查询"
				name="email" value="">
		</div>
		<div class="col-xs-2">
			<input type="text" class="form-control" placeholder="输入开始时间查询"
				name="start_time" id="seach_start_time" value="" onclick="jsDate();">
		</div>
		<div class="col-xs-2">
			<input type="text" class="form-control" placeholder="输入结束时间查询"
				name="end_time" id="seach_end_time" value="" onclick="jsDate();">
		</div>
		<div class="col-xs-2">
			<select class="form-control" name="status">
				<option value="">请选择状态</option>
				<option value="1">上架</option>
				<option value="0">下架</option>
			</select>
		</div>
		<div class="col-xs-2">
			<select class="form-control" name="on_index">
				<option value="">请选择推荐</option>
				<option value="1">推荐到首页</option>
				<option value="0">不推荐到首页</option>
			</select>
		</div>
		<div class="col-xs-2">
			<button type="submit" class="btn btn-primary">查询</button>
			<a href="/user/index" class="btn btn-primary">重置</a>
		</div>
	</div>
</form>
<br />
<div class="alert alert-success" role="alert">符合查询条件的共有{$count}条数据</div>
<table class="table table-striped table-hover" style="margin-top: 20px;">
	<thead>
		<tr>
			<th>编号</th>
			<th>邮箱</th>
			<th>手机</th>
			<th>昵称</th>
			<th>注册时间</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{foreach $list as $v}
		<tr>
			<td># {$v.id}</td>
			<td>{$v.email}</td>
			<td>{$v.phone_mask}</td>
			<td>{$v.nickname}</td>
			<td>{date('Y-m-d H:i',$v.register_time)}</td>
			<td>{if $v.status==1}已启用{else}<font color="red">已禁用</font>{/if}
			</td>
			<td><a href="admin.php?c=song&m=updateSong&song=26"><i
					class="fa fa-pencil-square-o"></i></a> <a
				href="admin.php?c=song&m=delete&song=26" style="margin-left: 15px;"><i
					class="fa fa-times"></i></a></td>
		</tr>
		{/foreach}
	</tbody>
</table>
<div class="text-right">{$page}</div>

<script type="text/javascript"
	src="{static_url('/My97DatePicker/WdatePicker.js')}"></script>
{literal}
<script type="text/javascript">
	//时间插件
	function jsDate() {
		WdatePicker({
			isShowClear : true,
			readOnly : true,
			isShowWeek : true,
			dateFmt : 'yyyy-MM-dd HH:mm'
		})

	}
</script>
{/literal}
