<div class="row">
	<div class="col-xs-6 col-sm-4 col-md-3 top-15">
		<div class="user-back">
			<a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=6"> <img
				src="{static_url('/admin/images/1.jpg')}"
				class="img-responsive">
			</a> <a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=6">
				<p class="text-center top-15">vol.006 蒋勋细说红楼梦</p>
			</a>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 top-15">
		<div class="user-back">
			<a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=5"> <img
				src="{static_url('/admin/images/2.jpg')}"
				class="img-responsive">
			</a> <a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=5">
				<p class="text-center top-15">vol.005 永远的未央歌</p>
			</a>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 top-15">
		<div class="user-back">
			<a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=4"> <img
				src="{static_url('/admin/images/3.jpg')}"
				class="img-responsive">
			</a> <a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=4">
				<p class="text-center top-15">vol.004 民歌</p>
			</a>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 top-15">
		<div class="user-back">
			<a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=3"> <img
				src="{static_url('/admin/images/4.jpg')}"
				class="img-responsive">
			</a> <a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=3">
				<p class="text-center top-15">vol.003 长亭外古道边</p>
			</a>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 top-15">
		<div class="user-back">
			<a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=2"> <img
				src="{static_url('/admin/images/5.jpg')}"
				class="img-responsive">
			</a> <a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=2">
				<p class="text-center top-15">vol.002 红楼梦原声带</p>
			</a>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 top-15">
		<div class="user-back">
			<a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=1"> <img
				src="{static_url('/admin/images/5.jpg')}"
				class="img-responsive">
			</a> <a href="http://xixi.fm/index.php?c=music&amp;m=vols&amp;id=1">
				<p class="text-center top-15">vol.001 红楼梦·远空的笛箫</p>
			</a>
		</div>
	</div>
</div>